<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info and Facts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
  crossorigin="anonymous">
</head>

<body>
  <div class="login">
    <h1>Predict Future Price of Stocks</h1>
      <h3>Enter the following in order to predict the future price of stocks</h3>
    <form action ="{{ url_for('predict')}}"method='post'>
      <input type='text' name='ticker' placeholder='Enter a stock ticker'/>
      <input type='text' name='start_date' placeholder='Enter a date in the format YYYY-MM-DD'/>
      <input type='text' name='end_date' placeholder='Enter a date in the format YYYY-MM-DD'/>
      <input type='text' name='forecast_out'  placeholder='Enter a number of days to predict the price of the stock'/>
      <button type='submit' class='btn'>Predict</button>
    </form>

  <br>
  <br>
  {{ prediction }}

</body>
  
</html>